.App {
  font-family: sans-serif;
  text-align: center;
}

.star-container {
  display: grid;
  border: black solid 1px;
  height: 100px;
  width: 450px;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.star {
  font-size: 75px;
}
